.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 380px;
}

.login {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.login h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.loginLabel,
.loginInput {
  width: 100%;
}

.loginInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.btnsDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-inicio-sesion {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .login {
    max-width: 80%;
  }
}
